<body>

    <header>
        <h1>Admin Panel - Waiter Scheduling App</h1>
    </header>

    <div class="container2">
        <form action="/days" method="post"></form>

        <table>
            <tr>
                <th>Weekdays</th>
                <th>Waiters</th>

            </tr>
            <tr>
                <td> {{#each weekday}}

                    <div class="week"> {{this.weekday_name}}</div>

                    {{/each}}
                </td>
            <tr>
                <td> {{#each result}}
                    <div class="waiter-name">
                        {{this.username}}
                    </div>
                    {{/each}}
                </td>
            </tr>
            </tr>
        </table>

</body>

</html>