<div class="container">
    <form action="/waiters/{{username}}" method="post">

        <h1>Waiter Day Booking</h1>

        <div class="weekday-checkboxes">
            <label for="sunday">
                Sunday
                <input type="checkbox" id="sunday" name="weekday" value="7">
            </label>
            <label for="monday">
                Monday
                <input type="checkbox" id="monday" name="weekday" value="1">
            </label>
            <label for="tuesday">
                Tuesday
                <input type="checkbox" id="tuesday" name="weekday" value="2">
            </label>
            <label for="wednesday">
                Wednesday
                <input type="checkbox" id="wednesday" name="weekday" value="3">
            </label>
            <label for="thursday">
                Thursday
                <input type="checkbox" id="thursday" name="weekday" value="4">
            </label>
            <label for="friday">
                Friday
                <input type="checkbox" id="friday" name="weekday" value="5">
            </label>
            <label for="saturday">
                Saturday
                <input type="checkbox" id="saturday" name="weekday" value="6">
            </label>
        </div>

        <button type="submit" class="btn">Submit</button>

    </form>
</div>