body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
}
.weekday-checkboxes {
  display: flex;
  flex-direction: column;
}

.container1 {
  max-width: 40%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 
}
.btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none; 
  border-radius: 5px;
  cursor: pointer; 
  font-size: 16px; 
  width: 150px; 
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

h1 {
  margin-bottom: 10px;
}
.success-message {
  background-color: green;
  color: white;
  padding: 10px;
  border: 2px solid darkgreen;
  margin-top: 10px;
  /* display: none; Hide by default */
}

/* Style for error message */
.error-message {
  background-color: red;
  color: white;
  padding: 10px;
  border: 2px solid darkred;
  margin-top: 10px;
  /* display: none; Hide by default */
}
.greeting {
  font-size: 24px;
  padding: 20px;
}

/* Style the waving hand emoji */
.wave {
  font-size: 48px; /* Adjust the size as needed */
}

/* Define the waving animation */
@keyframes wave {
  0%, 100% {
      transform: rotate(0deg);
  }
  25% {
      transform: rotate(20deg);
  }
  50% {
      transform: rotate(0deg);
  }
  75% {
      transform: rotate(-20deg);
  }
}
